* { transition: 0.4s }

:root {
  --check-background: linear-gradient(148deg, #00a8ff 40% 11%, #9900ff);
  --background: #fff;
  --task-text: black;
  --TodoList-background: rgb(255,255, 255);
  --backgroundImage-desktop: url("../public/assets/bg-desktop-light.jpg");
  --backgroundImage-mobile: url("../public/assets/bg-mobile-light.jpg");
}

:has(#dark):root {
  --background: #222222;
  --check-background: linear-gradient(148deg, #00a8ff 40% 11%, #9900ff);
  --task-text: white;
  --TodoList-background: rgb(58, 58, 58);
  --backgroundImage-desktop: url("../public/assets/bg-desktop-dark.jpg");
  --backgroundImage-mobile: url("../public/assets/bg-mobile-dark.jpg");
}

body {
  background-color: var(--background);
  font-family: Josefin Sans, sans-serif;
}

.active {
  color: #027ff7;
}
